<!-- <li *ngFor="let survey of surveyInfo">
    {{survey.Title}}
</li> -->
<div>
  Add your Survey Requirement <br>
  Code <input type="text" id="txtCode" #txtcode>
  Title <input type="text" id="txtTitle" #txttitle>
  Location <input type="text" id="txtLocation" #txtlocation>
  Video <input type="text" id="txtVideo" #txtvideo>
  <button class="btn btn-primary" id="btnCreate" (click)="Create(txtcode.value,txttitle.value,txtlocation.value,txtvideo.value)">Add Survey</button>
</div>

<survey *ngFor="let survey of surveyInfo" [surveyrecord]="survey" (notify)="GetComment($event)" ></survey>



<!--
<table class="table table-bordered table-striped">

  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>View</th>
      <th>Play</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let survey of surveyInfo">
      <td>{{survey.Code}} <app-star [StarValue]="survey.Visible"></app-star></td>
      <td>{{survey.Title}}</td>
      <td>
        <img id="m1" [src]="survey.Location" height="125" width="125">
      </td>
      <td>
        <div [hidden]="survey.Visible">
         <video id="v1" [src]="survey.video" controls height="175" width="175"></video>
        </div>
      </td>
      <td>
        <button id="btnView" class="btn btn-success" (click)="Display(survey)" >View/Hide</button>


      </td>
    </tr>
  </tbody>

</table>
-->
